 /*TOP*/
 #topo{
  width: 100%;
  height: 70px;
  background: #ca1776e0;
  z-index: 11000;
}
.container0{
 display: flex; 
 margin: auto;
 align-items: center;
 justify-content: space-between;
}
/*LOGO*/
.logo{
  background: #f8d8dd;
  z-index: 10000;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.575);
  margin-left: 4%;
}
.logo img{
  width: 70px;
}
/*BANNER*/
#banner img{
  margin-top:0;
}
#banner{
  position: relative;
}
.foto{
  position: absolute;
  opacity: 0;
  animation: animacao 12s infinite;
}
@keyframes animacao{
  25%{
       opacity: 1;
       transform: scale(1);
  }
  50%{
       opacity: 0;
  }
}
.foto:nth-child(2){
  animation-delay: 4s;
}
.foto:nth-child(3){
  animation-delay: 8s;
}
/*PRESENTATION*/
h1, h2, h3, p{
  color: rgba(0, 0, 0, 0.555);
}
.apres{
  padding-top: 52%;
  width: 80%;
  margin-left: 10%;
  text-align: center;
}
.apres p{
  padding: 10px 0 90px 0;
  font-size: 120%;
  text-align: justify;
}
.coment{
  box-shadow: -1 0 10px black;
}
/*MAIN*/
.amb{
  box-shadow: 0 0 40px #f74b68;
  background-attachment: fixed;
}
.principal{
  width: 92%;
  margin: auto;
  padding: 90px 0 80px 0;
  text-align: center;
}
.principal h2{
  padding-bottom: 20px;
}
.aClinica button{
  margin: 20px 0 80px  0;
}
.servicos button{
  margin-top: 20px;
}
.principal button{
  padding: 10px;
  border: none; 
  border-radius: 5px;
  background: #f74b68ad;
  text-shadow: 0 0 3px black;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.459);
  cursor: pointer;
}
.principal button p {
  color: white;
}
.principal button:hover{
  text-decoration: underline 1px white;
}
.servicos h2{
  padding-top: 80px;
}
.aClinica img, .servicos img{
  border-radius: 17px;
}
/*ABOUT THE CLINIC*/
.aClinica1{
  width: 90%;
  margin: auto;
  text-align: center;
  padding: 10% 0 70px 0;
}
.aClinica1 h1{
  font-size: 300%;
  padding-bottom: 40px;
}
.aClinica1 p{
  text-align: justify;
}
.img{
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.664);
  margin-bottom: 20px;
  border-radius: 20px;
}
.linha{
  margin: 0 0 0 4%;
}
.linee{
  margin: 0 0 0 4%;
}
/*SERVICES*/
.servicoss{
  width: 90%;
  margin: auto;
  padding: 10% 0 70px 0;
  text-align: center;
}
.servicoss h1{
  font-size: 300%;
  padding-bottom: 40px;
}
.servicoss h2{
  color: rgba(136, 14, 34, 0.76);
  padding: 10px 0 10px 0;
}
.servicoss p{
  color: rgba(136, 14, 34, 0.575);
  padding-bottom: 80px;
}
.serv6 p{
  padding-bottom: 0;
}
.servicoss img{
  border-radius: 50%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.527);
}